<div class="row footer">
  <div class="col text-center">
    <p class="text-xl">Do you have any question about our services?</p>
    <p class="text-p">
      Please do get in touch with us. We will be pleased to provide advice and
      further information on any aspect of this service. <br />
      Email your query to info@easy-cert.com
    </p>
  </div>
</div>
<div class="row footer">
  <div class="col-2"></div>
  <div class="col-2 mt-2">
    <img src="../../assets/images/Group 3843.png" alt="" />
    <div class="row">
      <ul>
        <li>
          <p>© EASY-CERT group AG 2021</p>
        </li>
        <li>
          <p>In co-operation with:</p>
        </li>
        <li>
          <img src="../../assets/images/image 84.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2 mt-2">
    <ul>
      <li>
        <p class="text-p">Explore</p>
      </li>
      <li>Home</li>
      <li>Informations</li>
      <li>Frequently asked questions</li>
    </ul>
  </div>
  <div class="col-2 mt-2">
    <ul>
      <li>
        <p class="text-p">Other links</p>
      </li>
      <li>
        <p>Terms of use EASY-CERT</p>
      </li>
      <li><p>Terms of service Austria Bio Garantie</p></li>
      <li>
        <p>Data protection declaration and data protection information</p>
      </li>
    </ul>
  </div>
  <div class="col-2 mt-2">
    <ul>
      <li><p class="text-p">Contact</p></li>
      <li>
        <p>EASY-CERT services AG CH-5070 Frick</p>
      </li>
      <li>
        <p>Email: info@easy-cert.com</p>
      </li>
      <li>
        <p>Phone : +41 (0)62 865 63 00</p>
      </li>
      <li><p>AT-2202 Enzersfeld bei Wien</p></li>
      <li>
        <p>Email: info@easy-cert.at</p>
      </li>
      <li>
        <p>Phone : +43 (0) 3182 40 101-21</p>
      </li>
    </ul>
  </div>
  <div class="col-2"></div>
</div>
