<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
      <div class="row">
        <div class="image mx-5">
          <img src="../../assets/images/Dark one.png" alt="" />
          <h3 class="txt">
            Check certifications, label approvals and products online
          </h3>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-12 col-md-4">
          <img src="../../assets/images/7.png" alt="" />
        </div>
        <div class="col-md-4 col-12 mt-1">
          <p class="text-xxxl">
            With <span class="text-primary">EASY-CERT</span> you can make sure
            that the products you purchase have the label status you desire.
          </p>
          <ul>
            <li>
              <mat-icon>check_circle_outline </mat-icon>
              <p>
                Swift and secure acess to infromation on certifications and
                status
              </p>
              <mat-icon>check_circle_outline </mat-icon>
              <p>Gain transperancy and clarity to informations</p>
              <mat-icon>check_circle_outline </mat-icon>
              <p>Save your much valuable time</p>
            </li>
          </ul>
          <button class="btn btn-primary mx-5 btn-lg">
            Easy-cert cloud
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row mt-5 m">
        <div class="col-2"></div>
        <div class="col-12 col-md-4">
          <p>About us</p>
          <p class="text-xxl">
            With vision and courage, we are breaking new ground.
          </p>
          <p>
            The EASY-CERT partners publish certification information and label
            approvals of their customers and licence holders in a central
            information portal on the Internet. This joint initiative and the
            publication in a central platform are unique in Europe.
          </p>
          <div class="row">
            <div class="col-auto">
              <h3>550+</h3>
              Employees
            </div>
            <div class="col-auto">
              <h3>40000+</h3>
              Audits per year
            </div>
          </div>
          <a href="">
            Read more about us

            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>
        <div class="col-12 col-md-4 mx-5">
          <img src="../../assets/images/Group 6850.png" alt="" class="mx-5" />
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-md-4 col-12 search">
          <img src="../../assets/images/Group 6864.png" alt="" />
        </div>
        <div class="col-md-6 col-12 search">
          <p class="text-xxl mt-3 text-white">
            With EASY-CERT you can make sure that the products you purchase have
            the label status you desire.
          </p>
          <button class="btn btn-secondary">
            Register for customer portel <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-image-slider></app-image-slider>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          
          <app-footer></app-footer>
        </div>
       
      </div>
    </div>
  </div>
</div>
