<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="image mx-5">
            <img src="../../assets/images/Dark one.png" alt="" />
            <h3 class="txt">
              Check certifications, label approvals and products online
            </h3>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-12 col-md-4">
          <img src="../../assets/images/7.png" alt="" />
        </div>
        <div class="col-md-4 col-12 mt-1">
          <p class="text-xxxl text-info">
            With <span class="text-primary">EASY-CERT</span> you can make sure
            that the products you purchase have the label status you desire.
          </p>
          <ul>
            <li class="text-primary">
              <div class="d-flex flex-direction-column">
                <mat-icon>done</mat-icon>
                <p class="text-p">
                  Swift and secure acess to infromation on certifications and
                  status
                </p>
              </div>
              <div class="d-flex flex-direction-column">
                <mat-icon>done </mat-icon>
                <p class="text-p">
                  Gain transperancy and clarity to informations
                </p>
              </div>

              <div class="d-flex flex-direction-column">
                <mat-icon>done </mat-icon>
                <p class="text-p">Save your much valuable time</p>
              </div>
            </li>
          </ul>
          <button class="btn btn-primary mx-5 btn-lg">
            Easy-cert cloud
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row mt-5 m">
        <div class="col-2"></div>
        <div class="col-12 col-md-4">
          <p class="text-p">About us</p>
          <p class="text-xxxl text-info">
            With vision and courage, we are breaking new ground.
          </p>
          <p class="text-xl text-info">
            The EASY-CERT partners publish certification information and label
            approvals of their customers and licence holders in a central
            information portal on the Internet. This joint initiative and the
            publication in a central platform are unique in Europe.
          </p>
          <div class="row">
            <div class="col-auto">
              <h3 class="text-xxxl text-info">550+</h3>
              <p class="text-xl">Employees</p>
            </div>
            <div class="col-auto">
              <h3 class="text-xxxl text-info">40000+</h3>
              <p class="text-xl">Audits per year</p>
            </div>
          </div>
          <a href="">
            Read more about us

            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>
        <div class="col-12 col-md-4 mx-5">
          <img src="../../assets/images/Group 6850.png" alt="" class="mx-5" />
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row mt-5 rounded">
        <div class="col-1"></div>
        <div class="col-md-4 col-12 search">
          <img src="../../assets/images/Group 6864.png" alt="" />
        </div>
        <div class="col-md-6 col-12 search">
          <p class="text-xxxl mt-3 text-white">
            With EASY-CERT you can make sure that the products you purchase have
            the label status you desire.
          </p>
          <button class="btn btn-light text-primary">
            Register for customer portel <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-image-slider></app-image-slider>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
