.txt{
position: absolute;
width: 883px;
height: 160px;
left: 279px;
top: 225px;
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 80px;

/* or 167% */
text-align: center;

color: #0C7438;


}

.text-xxxl{
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
}
ul li{
list-style: none;
}

.search{
    
    background: #37BC6F;

}